.row {
	margin-left: -20px;
}

.container {
	width: 940px;
}

.row:before, .row:after {
	display: table;
	line-height: 0;
	content: "";
}

.left_box {
	color: #252527;
}

.span5 {
	width: 380px;
}

.left_box h4 {
	margin: 20px 0 40px 0;
	line-height: 43px;
	font-size: 40px;
	font-weight: 300;
}

.left_box .perk_box {
	float: left;
	width: 100%;
}

.left_box {
	color: #252527;
}

.left_box .perk_box .perk {
	width: 100%;
	color: #727276;
	margin-bottom: 31px;
}

.left_box .perk_box .perk .ico1 {
	background-position: 4px 6px;
}

.left_box .perk_box .perk .ico2 {
	background-position: -35px 14px;
}

.left_box .perk_box .perk .icos {
	float: left;
	margin-right: 16px;
	width: 28px;
	height: 46px;
}

.icos {
	background: url('../img/demo_icon.png') no-repeat;
	width: 96px;
	height: 30px;
}

.left_box .perk_box .perk p strong {
	color: #333;
}

.left_box .perk_box .perk p {
	font-size: 15px;
}

.left_box .perk_box .perk .ico3 {
	background-position: -69px 7px;
}

.signin_box {
	float: right;
}

.span6 {
	width: 460px;
}

.signin_box .box {
	float: right;
	box-shadow: 0 0 5px 0 rgb(238, 238, 238);
	background: white;
	border: 1px solid #DFDFDF;
	border-radius: 5px;
	width: 90%;
	padding: 35px 0 30px;
}

.signin_box .box .box_cont {
	margin: 0 auto;
	width: 77%;
}

.signin_box .box .social {
	margin: 0 auto 20px;
	float: none;
	text-align: center;
}

.signin_box .box .social a.facebook {
	background: #233678;
	border: 2px solid #233678;
}

.signin_box .box .social a.circle {
	text-align: center;
	width: 56px;
	height: 56px;
	border-radius: 100%;
	margin-right: 34px;
	display: inline-block;
	-webkit-transition: border-color ease-in .1s;
	-moz-transition: border-color ease-in .1s;
	-o-transition: border-color ease-in .1s;
	transition: border-color ease-in .1s;
}

.signin_box .box .social a.circle img {
	display: inline-block;
	margin-top: 15px;
}

.signin_box .box .social a.twitter {
	background: #54AEE1;
	border: 2px solid #54AEE1;
}

.signin_box .box .social a.gplus {
background: #292929;
border: 2px solid #292929;
margin: 0;
}

.signin_box .box .division {
	margin: 0 auto 18px;
	float: none;
	overflow: hidden;
	width: 100%;
	position: relative;
	text-align: center;
}

.signin_box .box .division .l {
	left: 0;
}

.signin_box .box .division .r {
	right: 0;
}

.signin_box .box .division .line {
	border-top: 1px solid #DFDFDF;
	width: 34%;
	top: 10px;
	position: absolute;
}

.signin_box .box .division span {
	color: rgb(66, 66, 66);
	font-size: 17px;
}

.signin_box .box .form form {
margin: 0;
}

.signin_box .box .form input[type="text"] {
	border-radius: 3px;
	font-size: 16px;
	width: 96%;
	margin-bottom: 16px;
	height: 27px;
	color: black;
}

.signin_box .box .form .forgot {
	margin-left: 0;
	margin-bottom: 20px;
	width: 100%;
	color: #797979;
	text-align: center;
	overflow: hidden;
}

 .signin_box .box .form .forgot span {
margin-right: 5px;
}

.signin_box .box .form .forgot a {
color: #797979;
font-size: 13px;
border-bottom: 1px solid #797979;
font-weight: bold;
-webkit-transition: color .2s;
-moz-transition: color .2s;
-ms-transition: color .2s;
transition: color .2s;
}

.signin_box .box .form input[type="submit"] {
	text-transform: uppercase;
	color: #fff;
	background: #187CCC;
	font-size: 15px;
	margin: 0 auto;
	display: block;
	padding: 6px 19px;
	border: 0 none;
	border-radius: 3px;
	-webkit-transition: background linear .2s, box-shadow linear .2s;
	-moz-transition: background linear .2s, box-shadow linear .2s;
	-o-transition: background linear .2s, box-shadow linear .2s;
	transition: background linear .2s, box-shadow linear .2s;
}